<%@ Control Language="C#" %>
<%@ Register TagPrefix="Hi" Namespace="HiTemplate" Assembly="HiTemplate" %>
        <div class="members_con">
            <section class="members_search">
                  <form action="/ProductList.aspx" method="get">
                <input type="text" name="keyWord" id="keyWord" value="" placeholder="商品搜索：请输入商品关键字">
                <button type="submit"></button>
           </form>
            </section>
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">

                <!--头部轮播图-->
                <ul class="clearfix">
                    
                        
                            <li>
                                <a href="/ProductDetails.aspx?productId=7&ReferralId=0" title="">

                                    <img src="../../../Storage/template/20190329/6368947130904717219672033.png" width="100%"/>
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/ProductDetails.aspx?productId=7&ReferralId=0" title="北斗复兴手机">
                                    
                                    
                                    <img src="../../../Storage/template/20190226/6368677707126239126871543.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/ProductDetails.aspx?productId=16&ReferralId=3" title="">
                                    
                                    
                                    <img src="../../../Storage/template/20190308/6368765201663170716084527.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/ProductDetails.aspx?productId=18&ReferralId=3" title="">
                                    
                                    
                                    <img src="../../../Storage/template/20190401/6368972753190512766819986.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/ProductDetails.aspx?productId=17&ReferralId=3" title="">
                                    
                                    
                                    <img src="../../../Storage/template/20190401/6368972759169843922621373.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>

                <section class="members_flash_time">
                    
                    
                    <span class="cur" ></span>
                    
                    <span  ></span>
                    
                    <span  ></span>
                    
                    <span  ></span>
                    
                    <span  ></span>
                    
                    
                </section>
            </section>
            
        </div>
    
        <div class="members_con"  style="margin:0">
            <section class="members_special center " style="background-color:#fff;height:30px;" >
                 <h2 class="j-title"  style="color:#FFF;font-size: 14px;line-height:30px; background-color:#666; font-weight:bold">
                    
                    精选商品
                </h2>
            </section>
        </div>
    
        <div class="members_con">
            <section class="members_nav1">
                <ul class="clearfix">
                    
                    
                    
                    <li class="board3 big_board ">
                        <span>
                            <a href="/ProductDetails.aspx?productId=7&ReferralId=3">
                                
                                <img src="../../../Storage/template/20190329/6368947154103166594971397.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3  small_board">
                        <span>
                            <a href="/ProductDetails.aspx?productId=7">
                                
                                <img src="../../../Storage/template/20190307/6368756648916244489594538.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                    <li class="board3  small_board">
                        <span>
                            <a href="/ProductDetails.aspx?productId=16&ReferralId=3">
                                
                                <img src="../../../Storage/template/20190307/6368756649914618088643569.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    
        <div class="members_con"  style="margin:0">
            <section class="members_special center " style="background-color:#fff;height:30px;" >
                <h2 class="j-title"  style="color:#FFF;font-size: 14px;line-height:30px; background-color:#666; font-weight:bold">
                    活动中心
                </h2>
            </section>
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix">
                    
                    
                    <li style="margin-bottom:0px">
                        <a href="/ProductDetails.aspx?productId=7&ReferralId=3" title="">
                            
                            
                            <img src="../../../Storage/template/20190304/6368729580482747228504244.png" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    
                </ul>
            </section>
            
        </div>

                
                
        <!--租赁商品-->
        <div class="members_con"  style="margin:0">
            <section class="members_special center " style="background-color:#fff;height:30px;" >
                <h2 class="j-title"  style="color:#FFF;font-size: 14px;line-height:30px; background-color:#666; font-weight:bold">
                    
                    租赁商品


                    <a href="/Vshop/Moregoods.aspx?ReferralId=0 " class="vs-more">
                        <b style=" color:#FFF; position:absolute; right:10px" >更多</b>
                      
                    </a>

                </h2>
            </section>
        </div>


        <!--展示租赁商品-->

        <div class="members_con">

            <section class="members_goodspic">
                <ul id="zulin">
                
                </ul>
            </section>
        </div>



<!--        <div class="members_con"  style="margin:0">
            <section class="members_special center " style="background-color:#fff;height:30px;" >
                <h2 class="j-title"  style="color:#707070;font-size: 14px;line-height:30px;">
                    热销商品
                </h2>
            </section>
        </div>-->

       <!--展示热销商品-->
       <!--<Hi:GoodsMobule runat="server" Layout="1" ShowName="1" IDs="7,16,17,18,13,12,11,10,20,21,22,23,24,25,26,27,28,29" ShowIco="True" ShowPrice="True" DataUrl="/api/Hi_Ajax_GoodsList.ashx" ID="goods_2623f2d6bdf54d5abeb616d6b43500ea" TemplateFile="/admin/shop/Modules/GoodGroup1.cshtml"    />-->
            




        <!--购物送积分-->
        <div class="members_con"  style="margin:0">
            <section class="members_special center " style="background-color:#fff;height:30px;" >
                <h2 class="j-title"  style="color:#FFF;font-size: 14px;line-height:30px; background-color:#666; font-weight:bold">
                    
                    购物送积分


                    <a href="/Vshop/Moregoods.aspx?ReferralId=0 " class="vs-more">
                        <b style=" color:#FFF; position:absolute; right:10px" >更多</b>
                      
                    </a>

                </h2>
            </section>
        </div>


        <!--展示购物送积分商品-->

        <div class="members_con">

            <section class="members_goodspic">
                <ul id="songjifen">

                </ul>
            </section>
        </div>



        <!--展示积分兑换-->
        <div class="members_con"  style="margin:0">
            <section class="members_special center " style="background-color:#fff;height:30px;" >
                <h2 class="j-title"  style="color:#FFF;font-size: 14px;line-height:30px; background-color:#666; font-weight:bold">
                    积分兑换


                      <a href="/Vshop/Moresend.aspx?ReferralId=0" class="vs-more2">
                        <b style=" color:#FFF; position:absolute; right:10px"  >更多</b>
                      
                    </a>

                </h2>
            </section>
        </div>

        <!--展示积分兑换商品-->

        
         <div class="members_con">

            <section class="members_goodspic">
                <ul id='duigoods'>

                </ul>
            </section>
        </div>


        
        <!--展示零元购-->
        <div class="members_con"  style="margin:0">
            <section class="members_special center " style="background-color:#fff;height:30px;" >
                <h2 class="j-title" style="color:#FFF;font-size: 14px;line-height:30px; background-color:#666; font-weight:bold">
                    零元购


                      <a href="/Vshop/Moreling.aspx?ReferralId=0 " class="vs-more3">
                        <b style=" color:#FFF; position:absolute; right:10px" >更多 </b>
                      
                    </a>

                </h2>
            </section>
        </div>


        
        <!--展示零元购商品-->

        
         <div class="members_con">

            <section class="members_goodspic">
                <ul id='Ul1'>

                </ul>
            </section>
        </div>



  