<%@ Control Language="C#" %>
<%@ Register TagPrefix="Hi" Namespace="HiTemplate" Assembly="HiTemplate" %>
        <style>
            
     <!--顶部搜索框-->
            .members_search input
            {
                width:80%;
                padding-left:3%;
            }
            .members_search {
                width: 92% !important;
                border: 0;
                border-bottom: #dbdada solid 1px !important;
                margin-left:-30px;
            }   

            .myinfo
            {
                display: inline;
                position: absolute;
                right: 10px;
                top: 30px;
                font-size:16px;
            }


            .t-nav{
                margin:30px 0;
            }
            ul.tubiao li
            {
                width:128px;
                height:127px;
                text-align:center;
                flex:1;
                }
            .tubiao li .zu{
	            width: 88px;
                height: 88px;
                margin-bottom: 13px;
                background: linear-gradient(135deg,#f24610,#fc2b5f);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }
            .tubiao li p{
	            color: #333;
                font-size: 16px;
                padding-bottom: 5px;
            }

            .my-message img
            {
                display: block;
                width: 30px;
                height: 30px;
                position: absolute;
                right: 15px;
                top: 10px;
                }
            
            
            
        </style>

        <div class="members_con">
            <section class="members_search">
                  <form action="/ProductList.aspx" method="get" style="width:100%">
                    <input type="text" name="keyWord" id="keyWord" value="" placeholder="商品搜索：请输入商品关键字">
                     <button type="submit"></button>
                  </form>
                  <div class="myinfo">
                    <a class="my-message" href="http://localhost:9925/Vshop/notice.aspx?ReferralId=15959">
                        <img src="../../common/images/iconfont-xinxi.png" alt="">
                    </a>
                  </div>
            </section>
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_flash j-swipe" id="mySwipe">

      <!--头部轮播图-->
                <ul class="clearfix">
                    
                            <li>
                                <a href="/ProductDetails.aspx?productId=7&ReferralId=0" title="">

                                    <img src="../../../Storage/template/20190329/6368947130904717219672033.png" width="100%"/>
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/ProductDetails.aspx?productId=7&ReferralId=0" title="北斗复兴手机">
                                    
                                    
                                    <img src="../../../Storage/template/20190226/6368677707126239126871543.jpg" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/ProductDetails.aspx?productId=16&ReferralId=3" title="">
                                    
                                    
                                    <img src="../../../Storage/template/20190308/6368765201663170716084527.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/ProductDetails.aspx?productId=18&ReferralId=3" title="">
                                    
                                    
                                    <img src="../../../Storage/template/20190401/6368972753190512766819986.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                            <li>
                                <a href="/ProductDetails.aspx?productId=17&ReferralId=3" title="">
                                    
                                    
                                    <img src="../../../Storage/template/20190401/6368972759169843922621373.png" width="100%" />
                                    
                                    
                                </a>
                            </li>
                        
                    
                </ul>

                <section class="members_flash_time">
                    
                    
                    <span class="cur" ></span>
                    
                    <span  ></span>
                    
                    <span  ></span>
                    
                    <span  ></span>
                    
                    <span  ></span>
                    
                    
                </section>
            </section>
            
        </div>

    
    <!--成为代理推广活动-->
       <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix">
                    
                    
                    <li style="margin-bottom:0px">
                        <a href="http://localhost:9925/Templates/vshop/t6/ad-daili.html">
                            
                            <img src="../../../Storage/template/20190304/6368729580482747228504244.png" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    
                </ul>
            </section>
            
        </div>


     <!--icon图标设置-->

        <div class="t-nav">
            <ul class="tubiao" style="display:flex">
			    <li>
				    <div class="zu">
					    <a href="#">
						    <img src=""/>
					    </a>
				    </div>
				    <p>优享租机</p>
			    </li>
			
			    <li>
				    <div class="zu">
					    <a href="#">
						    <img src=""/>
					    </a>
				    </div>
				    <p>欢乐购机</p>
			    </li>
			    <li>
				    <div class="zu">
					    <a href="#">
						    <img src=""/>
					    </a>
				    </div>
				    <p>积分兑换</p>
			    </li>
			    <li>
				    <div class="zu">
					    <a href="#">
						    <img src=""/>
					    </a>
				    </div>
				    <p>活动中心</p>
			    </li>
			    <li>
				    <div class="zu">
					    <a href="#">
						    <img src=""/>
					    </a>
				    </div>
				    <p>代理中心</p>
			    </li>
			
		    </ul>
        </div>



   <!-- 精选租机-->
        <div class="members_con"  style="margin:0">
            <section class="members_special center " style="background-color:#fff;height:30px;" >
                 <h2 class="j-title"  style="color:#FFF;font-size: 14px;line-height:30px; background-color:#666; font-weight:bold">
                    
                    精选租机
                </h2>
            </section>
        </div>

    <!--3列-->
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix"> 

                    <li style="margin-bottom:0px">
                        <a href="/ProductDetails.aspx?productId=7&ReferralId=3" title="">
                            <img src="../../../Storage/template/20190304/6368729580482747228504244.png" width="100%" />
                        </a>
                    </li>
                    
                </ul>
            </section>
            
        </div>

        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix"> 

                    <li style="margin-bottom:0px">
                        <a href="/ProductDetails.aspx?productId=7&ReferralId=3" title="">
                            <img src="../../../Storage/template/20190304/6368729580482747228504244.png" width="100%" />
                        </a>
                    </li>
                    
                </ul>
            </section>
            
        </div>

        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix"> 

                    <li style="margin-bottom:0px">
                        <a href="/ProductDetails.aspx?productId=7&ReferralId=3" title="">
                            <img src="../../../Storage/template/20190304/6368729580482747228504244.png" width="100%" />
                        </a>
                    </li>
                    
                </ul>
            </section>
            
        </div>


   <!-- 活动中心-->
        <div class="members_con"  style="margin:0">
            <section class="members_special center " style="background-color:#fff;height:30px;" >
                <h2 class="j-title"  style="color:#FFF;font-size: 14px;line-height:30px; background-color:#666; font-weight:bold">
                    活动中心
                </h2>
            </section>
        </div>
    
        <div class="members_con" style="margin:0 auto">
            
            <section class="members_imgad">
                <ul class="clearfix">
                    
                    
                    <li style="margin-bottom:0px">
                        <a href="/ProductDetails.aspx?productId=7&ReferralId=3" title="">
                            
                            
                            <img src="../../../Storage/template/20190304/6368729580482747228504244.png" width="100%" />
                            
                            
                        </a>
                    </li>
                    
                    
                </ul>
            </section>
            
        </div>

    <!--活动产品主图-->
        <div class="members_con">
            <section class="members_nav1">
                <ul class="clearfix">
                    
                    <li class="board3 big_board ">
                        <span>
                            <a href="/ProductDetails.aspx?productId=7&ReferralId=3">
                                
                                <img src="../../../Storage/template/20190329/6368947154103166594971397.png">
                                
                            </a>
                        </span>
                    </li>

     <!--活动版块主图-->
                    <li class="board3  small_board">
                        <span>
                            <a href="/ProductDetails.aspx?productId=7">
                                
                                <img src="../../../Storage/template/20190307/6368756648916244489594538.png">
                                
                            </a>
                        </span>
                    </li>
                    

                    <li class="board3  small_board">
                        <span>
                            <a href="/ProductDetails.aspx?productId=16&ReferralId=3">
                                
                                <img src="../../../Storage/template/20190307/6368756649914618088643569.png">
                                
                            </a>
                        </span>
                    </li>
                    
                    
                    
                </ul>
            </section>
        </div>
    

    <!--展示热门兑换-->
        <div class="members_con"  style="margin:0">
            <section class="members_special center " style="background-color:#fff;height:30px;" >
                <h2 class="j-title"  style="color:#FFF;font-size: 14px;line-height:30px; background-color:#666; font-weight:bold">
                    热门兑换


                      <a href="/Vshop/Moresend.aspx?ReferralId=0" class="vs-more2">
                        <b style=" color:#FFF; position:absolute; right:10px"  >更多</b>
                      
                    </a>

                </h2>
            </section>
        </div>

        <!--展示热门兑换商品一组-->

        
         <div class="members_con">

            <section class="members_goodspic">
                <ul id='duigoods'>

                </ul>
            </section>
        </div>






   


       