            body {
                background: #f1f1f1;
            }

            .members_search {
                width: 258% !important;
                border: rgba(255,255,255,0.2) solid 1px;
                border-radius: 4px;
                background: rgba(255,255,255,0.2);
            }

                
            .members_search input
            {
                padding-left:3%;
            }

                
            .myinfo
            {
                display: inline;
                position: absolute;
                right: -195%;
                top: 3px;
                font-size:16px;
            }
             .my-message img
            {
                display: block;
                width: 54px;
                height: 54px;
                }

            .t-nav{
                margin: 37px 0 14px 0;
            }
            ul.tubiao li
            {
                width:128px;
                height:127px;
                text-align:center;
                flex:1;
                }
            .tubiao li .zu{
	            width: 88px;
                height: 88px;
                margin-bottom: 13px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }
            .tubiao li p{
	            color: #333;
                font-size: 16px;
                padding:10px 0 5px 0;
                font-weight: bold;
            }



            .membersbox-box {
                margin-top: -10px;
            }
            .zuji
            {
                position:relative;
                
                }
            .zuji h3
            {
                margin-top:15px;
                font-size:16px;
                color:#333333;
                font-weight:bold;
                margin-left:12px;
                }
            .zuji p
            {
                font-size:12px;
                color:#666666;
                font-weight:bold;
                margin:5px 0 25px 12px;
                }
            .zuji h2
            {
                font-size:20px;
                color:#E52334;
                font-weight:bold;
                position:absolute;
                right:10px;
                top:114px;
                }